/*=====================================================================
 *
 * Filename: layout.css
 *
 * Description
 * -----------
 * Grids/Layouts
 *
 *=====================================================================*/

html, body { margin: 0; padding: 0; }

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


.container {
	align-content: align-content;
	align-items: flex-start;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 20px auto;
	max-width: 1000px;
	width: 100%;
}

*[class*="flex-"] { background: #333; color: #fff; padding: 20px; }

.flex-item { flex-grow: 1; }

.flex-1 { width: 8%; }
.flex-2 { width: 16.3333%; }
.flex-3 { width: 24.6666%; }
.flex-4 { width: 33%; }
.flex-5 { width: 41.3333%; }
.flex-6 { width: 49.6666%; }
.flex-7 { width: 58%; }
.flex-8 { width: 66.3333%; }
.flex-9 { width: 74.6666%; }
.flex-10 { width: 83%; }
.flex-11 { width: 91.3333%; }
.flex-12 { width: 99.6666%; }

@media screen and (max-width: 1000px) {
	.flex-md-1 { width: 8%; }
	.flex-md-2 { width: 16.3333%; }
	.flex-md-3 { width: 24.6666%; }
	.flex-md-4 { width: 33%; }
	.flex-md-5 { width: 41.3333%; }
	.flex-md-6 { width: 49.6666%; }
	.flex-md-7 { width: 58%; }
	.flex-md-8 { width: 66.3333%; }
	.flex-md-9 { width: 74.6666%; }
	.flex-md-10 { width: 83%; }
	.flex-md-11 { width: 91.3333%; }
	.flex-md-12 { width: 99.6666%; }
}
@media screen and (max-width: 600px) {
	.flex-sm-1 { width: 8%; }
	.flex-sm-2 { width: 16.3333%; }
	.flex-sm-3 { width: 24.6666%; }
	.flex-sm-4 { width: 33%; }
	.flex-sm-5 { width: 41.3333%; }
	.flex-sm-6 { width: 49.6666%; }
	.flex-sm-7 { width: 58%; }
	.flex-sm-8 { width: 66.3333%; }
	.flex-sm-9 { width: 74.6666%; }
	.flex-sm-10 { width: 83%; }
	.flex-sm-11 { width: 91.3333%; }
	.flex-sm-12 { width: 99.6666%; }
}